*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primaryPurple: #06283D;
    --black-1: #232323;
    --black-2: #585858;
    --bg-1: #F7F7F7;
    --bg-2: #ecedf6;
    --bg-3: #dedede;
    --gray-1: #eee;
    --gray-2: #dedfe1;
    --black: rgba(0, 0, 0, 0.916);
    --white: rgba(255, 255, 255, 0.947);
}

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-1);
}

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}